<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Školní Les</title>
    <link href="/src/style.css" rel="stylesheet">
</head>
    <body class="text-forest min-h-screen bg-background1 flex flex-col">
        <header id="header" class="sticky top-0 w-full"></header>
        <script>
            fetch("../../navbar.html")
                        .then(response => response.text())
                        .then(data => {
                            document.getElementById("header").innerHTML = data;
                            document.getElementById('navbar').classList.replace("text-background1", "text-forest");

                            // Now attach scroll listener after navbar is loaded
                            document.addEventListener('scroll', () => {
                                const navbar = document.getElementById('navbar');
                                if (window.scrollY > 0) {
                                    navbar.classList.replace("bg-transparent", "bg-black");
                                    navbar.classList.replace("text-forest", "text-background1");

                                } else {
                                    navbar.classList.replace("bg-black", "bg-transparent");
                                    navbar.classList.replace("text-background1", "text-forest");
                                    
                                }
                            });
                        });
                        </script>
            <main class="flex-grow container mx-auto px-8">
                <div class="grid grid-cols-[auto_1fr] mt-0">
                    <h1 class="font-black text-7xl">BLOG</h1>
                    <div class="place-self-center">
                        <h3 class="font-extrabold text-xs mb-2 text-primary">FILTROVAT PODLE:</h3>
                        <div class="flex gap-4">
                            <button class="radio">VŠECHNO</button>
                            <button class="radio">REPOROTÁŽ</button>
                            <button class="radio">LÍČENÍ</button>
                            <button class="radio">NAUČNÉ</button>
                        </div>
                    </div>
                </div>
                <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 place-items-center mt-8">
                    <div class="sm:col-span-2 lg:col-span-3 grid sm:grid-cols-2 lg:grid-cols-[1fr_auto] gap-6 place-items-center">
                        <div class="homecard row-span-2 sm:col-span-2 lg:col-span-1 max-h-screen w-full flex flex-col p-2">
                            <img src="/hory.jpg" class="object-cover object-center aspect-video w-auto h-full rounded-md mb-4" />
                            <h3 class="text-forest text-2xl font-semibold">Jdeme na hory!</h3>
                            <h4 class="font-medium text-sm text-primary mb-4">Jó jakoby jedem na ty hory no, tak se tady můžete dozvědět více</h4>
                            <div class="flex justify-between w-4/5">
                                <p class="radiolabel">ZPRÁVA</p>
                                <div class="flex gap-2">
                                    <p class="checkboxlabel">SEXTA</p>
                                    <p class="checkboxlabel">SEPIMA</p>
                                </div>
                            </div>
                        </div>
                    
                    <div class="homecard h-80 flex flex-col lg:h-full lg:flex-row lg:max-w-md xl:flex-col xl:h-fit xl:w-full p-2">
                        <img src="/sazeni.jpg" class="cardimage lg:aspect-square lg:h-auto lg:mb-0 xl:h-1/5 xl:aspect-video" />
                        <div class="flex flex-col lg:min-w-72 justify-between h-1/2 lg:h-auto p-2">
                            <h3 class="text-forest text-xl font-semibold">Bude oplocenka</h3>
                            <h4 class="font-medium text-sm text-grass mb-4">yessirrrrr pracujeme na oplocence a bude to fire lidi yeah bro</h4>
                            <div class="flex flex-wrap justify-between gap-2 w-4/5">
                                <p class="radiolabel">ZPRÁVA</p>
                                <div class="flex gap-1">
                                    <p class="checkboxlabel">SEXTA</p>
                                    <p class="checkboxlabel">SEPIMA</p>
                                    <p class="checkboxlabel">SEPIMA</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="homecard h-80 flex flex-col lg:h-full lg:flex-row lg:max-w-md xl:flex-col xl:h-full xl:w-full p-2">
                        <img src="/sazeni.jpg" class="cardimage lg:aspect-square lg:h-auto lg:mb-0 xl:h-auto xl:aspect-video" />
                        <div class="flex flex-col lg:min-w-72 justify-between h-1/2 lg:h-auto p-2">
                            <h3 class="text-forest text-xl font-semibold">Bude oplocenka</h3>
                            <h4 class="font-medium text-sm text-grass mb-4">yessirrrrr pracujeme na oplocence a bude to fire lidi yeah bro</h4>
                            <div class="flex flex-wrap justify-between gap-2 w-4/5">
                                <p class="radiolabel">ZPRÁVA</p>
                                <div class="flex gap-2">
                                    <p class="checkboxlabel">SEXTA</p>
                                    <p class="checkboxlabel">SEPIM</p>
                                    <p class="checkboxlabel">SEPIMA</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                        
                        <div class="homecard h-80 w-full flex flex-col p-2">
                            <img src="/hory.jpg" class="object-cover object-center h-1/2 w-full rounded-md" />
                            <div class="flex flex-col justify-between h-1/2 p-2">
                                <h3 class="text-forest text-2xl font-semibold">Bude oplocenka</h3>
                                <h4 class="font-medium text-sm text-grass mb-4">yessirrrrr pracujeme na oplocence a bude to fire lidi yeah bro</h4>
                                <div class="flex flex-wrap justify-between gap-2 w-4/5">
                                    <p class="radiolabel text-xs">ZPRÁVA</p>
                                    <div class="flex gap-2">
                                        <p class="checkboxlabel">SEXTA</p>
                                        <p class="checkboxlabel">Sepima</p>
                                        <p class="checkboxlabel">SEPIMA</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="homecard h-80 w-full flex flex-col p-2">
                        <img src="/hory.jpg" class="object-cover object-center h-4/7 w-full rounded-md mb-4" />
                    </div>
                    <div class="homecard h-80 w-full flex flex-col p-2">
                        <img src="/hory.jpg" class="object-cover object-center h-4/7 w-full rounded-md mb-4" />
                    </div>
                    <div class="homecard h-80 w-full flex flex-col p-2">
                        <img src="/hory.jpg" class="object-cover object-center h-4/7 w-full rounded-md mb-4" />
                    </div>
                    

                </div>
            </main>
            
        <script></script>
    </body>
    </html>
