{% extends "base.jinja2" %}
{% block title %}O Nás - {% endblock %}
{% block content %}

<body class="text-forest min-h-screen bg-background-primary">
    <div class="container mx-auto px-16">
        <h1 class="text-center text-5xl md:text-6xl font-black mt-24 mb-8">O NAŠEM PROJEKTU</h1>
        <div class="">
            <img src="/static/tunka2.jpg" class="w-md mr-6 mb-2 float-left rounded-sm" />
            <h2 class="text-2xl md:text-3xl font-extrabold mx-2 mb-2 mt-4">O nás</h2>
            <p class="font-md px-2">PORG Libeň je soukromým osmiletým gymnáziem na Praze 8. Jsme malá útulná škola, čímž
                přispíváme k přátelské atmosféře a
                rodinnému klimatu. Mluvíme-li o klimatu, dlouhodobě se aktivně zapojujeme do různých inciativ se snahou
                se ho zlepšit.
                Klademe důraz na ekologickou výchovu i udržitelný přístup k přírodě. Jednou z aktivit je projekt Školní
                les, v němž se
                učíme o lesním ekosystému a podílíme se na jeho ochraně. Cílem je pozorování vývoje lesa, sukcese,
                biodiverzity,
                fenologických jevů a změn klimatu. Projekt propojuje výuku, praxi, vztah k přírodě a ekologii. Les
                slouží nejen pro
                krátkodobé výukové programy v přírodě, ale i jako výzkumná plocha pro praktické práce na nižším
                gymnáziu, seminární
                práce a středoškolskou odbornou činnost na vyšším gymnáziu a v rámci dobrovolnictví v septimě.
            </p>
            <img src="/static/krajinalesu.jpg" class="w-md ml-6 mb-2 mt-8 float-right rounded-sm" />
            <h2 class="text-2xl md:text-3xl font-extrabold mx-2 mb-2 mt-8">O lese</h2>
            <p class="font-md px-2">
                O lese

                Školní les se nachází v Železných horách, v katastrálním území Hluboká u Trhové Kamenice v nadmořské
                výšce 625 m. n. m.
                Jedná se o chráněnou krajinnou oblast v severní části Českomoravské vrchoviny. Oblast vykazuje bohatou
                biodiverzitu. V
                blízkosti naší plochy se nachází přírodní rezervace Polom, která chrání původní bukojedlové porosty. V
                prosinci 2022
                jsme část vyčistili a další rok vybudovali oplocenku 50 × 50 m. Zde i v okolí již probíhá přirozená
                obnova. Objevují se
                tu také porosty břízy a smrků. V roce 2024 byla v rámci oplocenky provedena výsadba dubů, olší a buků a
                část sazenic
                byla vysazena i mimo oplocenku.
            </p>

        </div>
    </div>

</body>

</html>
</body>
{%endblock%}