{% extends "base.jinja2" %}
{% block title %}Galerie - {% endblock %}
{% block content %}

<body class="text-forest min-h-screen bg-background-primary">
    <div class="container mx-auto">
        <h1 class="text-6xl md:text-7xl font-black text-center mt-24 hidden sm:block">FOTOGALERIE</h1>
        <h1 class="text-6xl md:text-7xl font-black text-center mt-24 block sm:hidden">FOTO<br>GALERIE</h1>
        <div class="grid grid-cols-4 sm:grid-cols-5 lg:grid-cols-6 xl:grid-cols-7 gap-2 md:gap-4 px-1 md:px-12 mt-8">
            {% for _ in range(60) %}
            <img src="/static/hory.jpg" class="object-center object-cover h-full aspect-square rounded-xs" />
            {% endfor %}
        </div>
    </div>
</body>
<script>
    document.getElementById('navbar').classList.replace("text-background-primary", "text-forest");
</script>

</html>
{%endblock%}