<nav id="navbar"
    class="fixed top-0 w-full bg-transparent text-forest flex h-12 space-x-12 md:space-x-16 font-extrabold text-xl justify-center p-2 transition-colors duration-350 delay-50">
    <a href="/">DOMŮ</a>
    <a href="/blog">BLOG</a>
    <a href="/galerie">GALERIE</a>
    <a href="/o-nas">O NÁS</a>
</nav>