<nav id="navbar"
    class="bg-transparent text-background1 flex h-12 space-x-16 font-extrabold text-xl justify-center p-2 transition-colors duration-400 delay-50">
    <a href="/">DOMŮ</a>
    <a href="/blog">BLOG</a>
    <a href="/galerie">GALERIE</a>
    <a href="/o-nas">O NÁS</a>
</nav>