{% extends "base.jinja2" %}
{% block title %}nazev prispevku - {% endblock %}
{% block content %}

<body class="text-forest min-h-screen bg-background-primary">
    <article class="grid grid-cols-9 gap-x-8 mt-32 text-black mx-8 xl:container xl:mx-auto">
        <h1 class="col-start-3 col-end-8 text-3xl md:text-5xl xl:col-start-3 xl:col-end-7 font-medium mb-8">Jedeme na
            hory!</h1>
        <img src="/static/sazeni.jpg"
            class="col-start-1 col-end-10 lg:col-start-2 lg:col-end-9 xl:col-start-3 xl:col-end-7 object-center w-full aspect-video mb-12" />
        <div class="col-start-3 col-end-8 xl:col-start-3 xl:col-end-7 text-xl font-normal text-gray-500">12. Května 2025
        </div>
        <section
            class="col-start-1 col-end-10 md:col-start-2 md:col-end-9 lg:col-start-3 lg:col-end-8 xl:col-start-3 xl:col-end-7 mt-6 font-medium text-lg">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque arcu. Donec
                iaculis gravida nulla. Aenean
                placerat. Phasellus et lorem id felis nonummy placerat. In sem justo, commodo ut, suscipit at, pharetra
                vitae, orci.
                Nullam sit amet magna in magna gravida vehicula. Aliquam ante. Praesent vitae arcu tempor neque lacinia
                pretium. Vivamus
                porttitor turpis ac leo. Pellentesque ipsum. Nullam sit amet magna in magna gravida vehicula. Aenean
                fermentum risus id
                tortor.
            </p>
            <p>
                Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Lorem ipsum dolor sit amet,
                consectetuer
                adipiscing elit. Nunc tincidunt ante vitae massa. Class aptent taciti sociosqu ad litora torquent per
                conubia nostra,
                per inceptos hymenaeos. Aliquam ante. Duis viverra diam non justo. Class aptent taciti sociosqu ad
                litora
                torquent per
                conubia nostra, per inceptos hymenaeos. Maecenas libero. Integer tempor. Aliquam ante. Integer vulputate
                sem
                a nibh
                rutrum consequat. Aenean vel massa quis mauris vehicula lacinia. Nullam lectus justo, vulputate eget
                mollis
                sed, tempor
                sed magna.
            </p>
            <p>
                Fusce aliquam vestibulum ipsum. Aliquam id dolor. Phasellus rhoncus. Etiam sapien elit, consequat eget,
                tristique non,
                venenatis quis, ante. Aliquam id dolor. Et harum quidem rerum facilis est et expedita distinctio. Sed
                vel
                lectus. Donec
                odio tempus molestie, porttitor ut, iaculis quis, sem. Curabitur sagittis hendrerit ante. Donec ipsum
                massa,
                ullamcorper
                in, auctor et, scelerisque sed, est. Nullam at arcu a est sollicitudin euismod.
            </p>
            <p>
                Integer in sapien. Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies odio,
                vitae
                placerat pede
                sem sit amet enim. Proin in tellus sit amet nibh dignissim sagittis. Aliquam ornare wisi eu metus.
                Integer
                pellentesque
                quam vel velit. Nulla pulvinar eleifend sem. Cum sociis natoque penatibus et magnis dis parturient
                montes,
                nascetur
                ridiculus mus. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Duis pulvinar. Integer
                imperdiet lectus
                quis justo.

            </p>
        </section>
    </article>
</body>
{%endblock%}