{% extends "base.jinja2" %}
{% block title %}Výkop tůní - {% endblock %}
{% block content %}


<article class="grid grid-cols-9 gap-x-8 mt-32 text-black mx-8 xl:container xl:mx-auto">
    <h1 class="col-start-3 col-end-8 text-3xl md:text-5xl xl:col-start-3 xl:col-end-7 font-medium mb-8">Výkop tůní</h1>
    <img src="/static/tunka2.jpg"
        class="col-start-1 col-end-10 lg:col-start-2 lg:col-end-9 xl:col-start-3 xl:col-end-7 object-center object-cover w-full aspect-video mb-12" />
    <div class="col-start-3 col-end-8 xl:col-start-3 xl:col-end-7 text-xl font-normal text-gray-500">12. Května 2025
    </div>
    <section
        class="col-start-1 col-end-10 md:col-start-2 md:col-end-9 lg:col-start-3 lg:col-end-8 xl:col-start-3 xl:col-end-7 mt-6 font-normal text-lg">
        <p>Česká krajina zdaleka není připravena na klimatickou změnu. Z naší krajiny zmizely tůně, čímž ztratila velkou
            část své
            schopnosti zadržovat vodu. Velkoplošné odvodnění zemědělských a lesních pozemků stále zatěžuje naši krajinu,
            ohrožuje
            pestrost vegetace a narušuje přirozený koloběh vody. Na našem území se rozrůstají zastavěné plochy, na
            kterých se voda
            neudrží a odteče. Výsledkem jsou přívalové vody, rozsáhlé povodně a následný nedostatek vody.
        </p>
        <p>
            Proto se 15. dubna 2025 vydala sexta do lesa za účelem vykopat systém tůní, které budou v dešťových obdobích
            zachytávat
            vodu a v letních suchých dnech ji zadržovat. Zároveň zabrání půdní erozi a rychle se stane domovem mnoha
            rostlin a
            živočichů, včetně ropuch, skokanů a dalších vodních bezobratlých a rostlin vlhčích stanovišť. Za spolupráce
            s pracovníky
            CHKO Železné hory byla sexta schopna vykopat tři tůně o průměru cca 5,5 a 3 metrů. Tvar tůní je přirozený s
            členitou
            břehovou linií a dno bylo vyhloubeno stupňovitě, protože cílem je imitovat přirozené prostředí živočichů.
            Proto byly
            umístěny do stanoviště kombinujícího osluněné i polostinné části, tudíž se zajistila co největší rozmanitost
            prostředí.
            Nakonec byla použita ekotextilie ke stabilizaci břehů a zbytek byl postaven hlavně z mrtvého dřeva
            posbíraného v lese.
        </p>
        <p>
            Po ukončení realizace ponecháme tůně zcela samovolnému vývoji. Není potřeba do nich vysazovat rostliny ani
            přemisťovat
            živočichy, jelikož ekosystém si vytvoří rovnováhu přirozeně. V následujících letech je ovšem potřeba
            provádět údržby,
            včetně částečného odstraňování sedimentu, náletu křovin a zárůstu vodního prostoru a případné likvidaci
            nežádoucí rybí
            obsádky, která by mohla ohrozit ostatní organismy.
        </p>
        <p>
            Na lokalitu byl během výkopu umístěn datalogger, který nám bude celoročně poskytovat informace o abiotických
            faktorech
            jako jsou půdní vlhkost a pH. Díky tomu můžeme dálkově sledovat vývoj lesa a monitorovat, zda tůně mají
            pozitivní vliv
            na krajinu.

        </p>
    </section>
</article>
{%endblock%}