@import "tailwindcss";

@theme {
  --color-primary: #3e7b27;
  --color-secondary: #efe3c2;
  --color-grass: #85a947;
  --color-forest: #123524;
  --color-background-primary: #ebe5d7;
  --color-background-hover: #dbd1b8;
}

@layer components {
  .homecard {
    @apply bg-secondary rounded-md border-2 border-primary shadow-md;
  }
  .radio {
    @apply bg-forest text-background-primary text-xs font-black rounded-lg px-3 py-0 focus:bg-primary;
  }
  .radiolabel {
    @apply bg-background-primary text-forest text-[0.6rem] font-extrabold border border-forest rounded-lg px-1;
  }
  .checkboxlabel {
    @apply bg-background-primary text-forest text-[0.6rem] font-extrabold border border-forest rounded-sm px-1;
  }

  @layer utilities {
    .custom-radial-gradient {
      background-image: radial-gradient(
        ellipse 100% 100% at center,
        #ebe5d7 0%,
        #3e7b27 60%
      );
    }
  }
}
